services:
  backend:
    build:
      context: ./backend
    container_name: employees-backend
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_BASE_URL: http://localhost:8000
    container_name: employees-frontend
    depends_on:
      - backend
    ports:
      - "5173:4173"
